<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" /> 
        <property name="username" value="inventario"/>
        <property name="password" value="inventario"/>
    </bean>
 
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        
        <property name="mappingResources">
            <list>
    <!--
INSERT INTO usuario VALUES (2,1,'Joy','123','02-02-2015',null);
INSERT INTO usuario VALUES (3,1,'Samuel','123','02-02-2015',null);
commit;
                -->
                <value>Transaccion.hbm.xml</value>
                <value>Recursos.hbm.xml</value>
                <value>DetalleRequisicion.hbm.xml</value>
                <value>Cotizacion.hbm.xml</value>
                <value>Telefono.hbm.xml</value>
                <value>TipoProducto.hbm.xml</value>
                <value>DetalleDevolucion.hbm.xml</value>
                <value>OrdenDeCompra.hbm.xml</value>
                <value>DetallePedido.hbm.xml</value>
                <value>Bodega.hbm.xml</value>
                <value>TipoTransaccion.hbm.xml</value>
                <value>Proveedor.hbm.xml</value>
                <value>TipoCliente.hbm.xml</value>
                <value>Cliente.hbm.xml</value>
                <value>Requisicion.hbm.xml</value>
                <value>TipoProveedor.hbm.xml</value>
                <value>TipoDevolucion.hbm.xml</value>
                <value>DetalleProducto.hbm.xml</value>
                <value>Usuario.hbm.xml</value>
                <value>Inventario.hbm.xml</value>
                <value>Lote.hbm.xml</value>
                <value>Devolucion.hbm.xml</value>
                <value>TipoUsuario.hbm.xml</value>
                <value>Pedido.hbm.xml</value>
                <value>DetalleDeOrdenCompra.hbm.xml</value>
                <value>Persona.hbm.xml</value>
                <value>Empleado.hbm.xml</value>
                <value>Producto.hbm.xml</value>
            </list>
        </property>
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        
    </bean>
    
    <bean id="usuariosDao" class="com.ues.dao.impl.UsuariosDaoHibImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>
    
    
     <bean id="personasDao" class="com.ues.dao.impl.PersonasDaoHibImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>
    
</beans>